doctype html 
<meta content="width=device-width, initial-scale=1" name="viewport" />
html
  head
    title Parth dance acaedmy
    block scripts
    block style 
      
  body
    nav#navbar 
        ul#uolist  
            div 
                img(src="../static/images/logo.jpg", alt="")
                
            li 
                a(href='/')  Home 
            li 
                a(href='/services')  Dance forms  
             
            li 
                a(href='/contact')  Join now
            #pk 
                p PK  
    block content
    footer#footer   
        | Copyrights © reserved to Parth kukkar                                                      
