extends base.pug
block scripts
    script(src='../static/index.js')

block style 

    style 
        include ../static/style.css 
        include ../static/styledf.css
        

block content
    
    .boxx 
        h1#l Learn 
        #el1.boxxelement  
            div.formdivs

                img.formimages(src="../static/images/HIP HOP.png", alt="") 
                p.textp Hip Hop 
            div.formdivs

                img.formimages(src="../static/images/ballet.webp", alt="")
                p.textp ballet 
        #el2.boxxelement 
            div.formdivs 
                img.formimages(src="../static/images/cont.png", alt="")
                p.textp Contemporary 
            div.formdivs 
                 img.formimages(src="../static/images/bd.jpg", alt="")
                 p.textp Break dance


            
            
           
        


    

    